.logo{
  position:absolute;
  width: 37px;
  margin-left: 15px;
  margin-top: -20px;
  z-index: 1;
}


h1{
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color:brown;
  margin-left:71px;
  margin-top: 25px;
  z-index: 1;
}




h2{
  margin-left: 222px;
  margin-top: 20px;
  font-size: 26px;
  font-weight: 100;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.contact{
  display:flex;
  align-items: center;
  /* justify-content: center; */
  gap: 50px;
  list-style:none;
}

.us{
   list-style:none;
}


.email{ 
  text-decoration: none;
}

.e-mail{
  width: 20px;
  margin-left: 4px;
}

.locator{
  width: 20px;
  margin-top: -9px;
}

.instagram{
  width: 30px;
  margin-top: 11px;
}

.facebook{
  width: 47px;
  margin-left: -10px;
  margin-top: 11px;
}

.youtube{
  width: 56px;
  margin-top: 11px;
  margin-left: -5px;
}

.phone{
  text-decoration: none;
}

.p-hone{
  width: 20px;
  margin-top: -4px;
}

.whatsapp{
  width: 30px;
  margin-top: 11px;
}

.tiktok{
width: 56px;
margin-left: -15px;
margin-top: 11px;
}

.linkedin{
  width: 40px;
  margin-top: 11px;
}

.kkk{
  margin-left: 800px;
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
}


.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: brown;
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #5191f2;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}



.ul{gap: 33px;}


.nav-form{
  margin-top: 12px;
}

.giving{
  position: absolute;
  color: beige;
  margin-left: 355px;
  margin-top: 280px;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  text-wrap: wrap;
}

span{
  color: rgb(140, 205, 233);
}



.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}



.footer{
  position: absolute;
  color: skyblue;
  margin-top: 694px;
  font-size: 1rem;
  width: 80%;
 /* gap: 20px; */
}

.pl{
  color: rgb(105, 105, 104);
  margin-left: 33px;
  margin-top: 164px;
  font-size: 10px;
}


.bgimg{
  position: absolute;
  height: 100vh;
  width: 100%;
}

form.body-form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}


form.body-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(83, 149, 176);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}


form.body-form button:hover {
  background: #0b7dda;
}

form.body-form::after {
  content: "";
  clear: both;
  display: table;
}

form.body-form{
 position: absolute;
 margin-left: 357px;
 margin-top: 459px;
 box-sizing: border-box;
 width: 25%;
}



@media(max-width:600px){
 h1{
  font-size: 15px;
  margin-top: 20px;
  margin-left: 69px;
 }


 h2{
  font-size: 1rem;
 }

 .ul{
  margin-left: -350px;
  position: absolute;
  z-index: 1;
  gap: 18px;
  width: 10px;
 }

 .nav-link{
  color: rgb(93, 93, 235);
 }

 .top{
   font-size: 18px;
   margin-top: -12px;
   margin-left: -35px;
 }

 .dropdown-menu{
  background-color: transparent;
  width: 1px;
  margin-left: -105px;
  position: absolute;
 }

 .dropdown-item{
  color: rgb(239, 183, 108);
  margin-left: 8px;
  font-size: 15px;
  position: relative;
 }

 .nav-form{
  margin-left: -130px;
  margin-top: 8px;
 }


 .contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  width: 332px;
 }

 

 .giving{
  font-size: 20px;
  margin-left: 182px;
  margin-top: 388px;
 }

 form.body-form{
  width: 40%;
  margin-left: 180px;
  margin-top: 498px;
  position: absolute;
 }


 h5{
  font-size: 16px;
  margin-left: 92px;
 }

 
 

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.bottom{
  font-size: 10px;
  margin-left: 122px;
  gap: 6px;
}
  
}